<!-- Mobile Navigation Overlay -->
<div class="mobile-nav-overlay">
    <div class="mobile-nav-content">
        <nav class="mobile-nav-links">
            <a href="<%= rootPath %>index.html" class="mobile-link">Home</a>
            <a href="<%= rootPath %>news/news.html" class="mobile-link">News</a>
            <a href="<%= rootPath %>programming/programming.html" class="mobile-link">Programming</a>
            <a href="<%= rootPath %>graphics/graphics.html" class="mobile-link">Graphics</a>
        </nav>
        <div class="mobile-socials">
            <a href="https://www.instagram.com/tetra.00000100/"><img src="<%= rootPath %>images/Instagram_Glyph_White.png"
                    alt="Instagram"></a>
            <a href="https://x.com/Tetra00000100"><img src="<%= rootPath %>images/x_logo-white.png" alt="X"></a>
            <a href="https://www.youtube.com/@Tetra.0100"><img src="<%= rootPath %>images/youtube_social_square_dark.png"
                    alt="YouTube" style="filter: invert(1);"></a>
        </div>
    </div>
</div>
